.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  padding: 20px;
  width: 350px;
  margin: auto;
  border-radius: 10px;
  margin-top: 64px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.login-title {
  text-align: center;
  margin-bottom: 10px;
}

.login-label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 500;
}

.login-input {
  padding: 8px 10px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 15px;
}

.login-button {
  padding: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.login-error {
  color: red;
  text-align: center;
  font-size: 14px;
}

.login-message {
  text-align: center;
  font-size: 14px;
  color: green;
}
