* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  margin:0;
}

.navbar {
  width: 100%;
  height: 60px;
  padding: 0 16px;
  background-color: rgb(222, 218, 213);
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav-links {
  display: flex;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
